#ops {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 90%;
}

#container {
    display: table;
    vertical-align: top;
    width: inherit;
    height: inherit;
    background:#FF0;
}

#inventory {
    display:table-cell;
    vertical-align: top;
    float: left;
    height: inherit;
    background:#FF0;
}

#body {
    height: inherit;
    width: 100%;
    display: table-cell;
    vertical-align: top;
    background:#0F0;
}

.ace_editor {
    height: 90%;
    width: 100%;
    vertical-align: top;
}

#opsact {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background:#0FF;
}

#messages {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background:#99F;
}