#jqmpage {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 150px);
}

.tbl {
    display: table;
    width: inherit;
    height: inherit;
}

#ops {
    display: table;
    width: 100%;
    height: 100%;
}


.tblrow {
    display: table-row;
    width: inherit;
    height: inherit;
}

.tblcell {
    display: table-cell;
    width: inherit;
    height: inherit;    
}

#body {
    //display: table-cell;
    //vertical-align: top;
    background:#0F0;
    //height: 100%;
    //width: 50%;
}

.ace_editor {
    height: 100%;
    width: 100%;
    //vertical-align: top;
}

#attributes {
    background:#F90;
    //height: 100%;
    //width: 100%;
    //overflow: auto;
    //display: absolute;
}

#inventory {
    background:#FF0;
    //height: 100%;
    //width: 100%;
    //overflow: auto;
    //display: absolute;
}

#taskTable {
}

#taskTableContainer {
    //display:absolute;
    //height:inherit;
    //width:inherit;
    //overflow:auto;
    //background:#999;
}

#opsact {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background:#0FF;
}

#messages {
    display: block;
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    background:#99F;
}