<div style="display:none">
    <form id="importJSONForm" enctype="multipart/form-data">
        <input id="importJSONFormInput" type="file" onchange="importJSONToInventory(this)"></input>
    </form>
</div>
<div style="display:none">
    <form id="importZipForm" enctype="multipart/form-data">
        <input id="importZipFormInput" type="file" onchange="importZipToInventory(this)"></input>
    </form>
</div>
<div style="display:none">
    <form id="uploadForm" enctype="multipart/form-data">
        <input id="uploadFormInput" type="file" onchange="uploadFileToTerminal(this)"></input>
    </form>
</div>
<div style="display:none">
    <form id="importTextFileForm" enctype="multipart/form-data">
        <input id="importTextFileFormInput" type="file" onchange="importTextFileToInventory(this)"></input>
    </form>
</div>
<div style="display:none">
    <form id="importBinaryFileForm" enctype="multipart/form-data">
        <input id="importBinaryFileFormInput" type="file" onchange="importBinaryFileToInventory(this)"></input>
    </form>
</div>
