<div style="display:none">
    <form id="importJSONForm" enctype="multipart/form-data">
        <input id="importJSONFormInput" type="file" onchange="importJSONToInventory(this)"></input>
    </form>
</div>
<div style="display:none">
    <form id="importZipForm" enctype="multipart/form-data">
        <input id="importZipFormInput" type="file" onchange="importZipToInventory(this)"></input>
    </form>
</div>
<div style="display:none">
    <form id="uploadForm" enctype="multipart/form-data">
        <input id="uploadFormInput" type="file" onchange="uploadFileToTerminal(this)"></input>
    </form>
</div>