<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">valarie</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#import">Import</a></li>
        <li><a href="#export">Export</a></li>
        <li><a href="#credModal" class="active" data-toggle="modal">Set Credentials</a></li>
        <li><a href="#menu-toggle" id="menu-toggle">Toggle Menu</a></li>
        <li><a href="#console" data-toggle="collapse">Toggle Console</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" id="menuBarDynamic">
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>