<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">valarie</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">File<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#" onclick="$('#importJSONFormInput').trigger('click');">Import JSON</a></li>
                <li><a href="#" onclick="$('#importZipFormInput').trigger('click');">Import Zip</a></li>
                <li><a href="#" onclick="$('#importBinaryFileFormInput').trigger('click');">Import Binary File</a></li>
                <li><a href="#" onclick="$('#importTextFileFormInput').trigger('click');">Import Text File</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" onclick="exportJSONFromInventory()">Export JSON</a></li>
                <li><a href="#" onclick="exportZipFromInventory()">Export Zip</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/auth/logout" class="active" data-toggle="modal">Logout</a></li>
            </ul>
        </li>
        
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Edit<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#" onclick="cutInventoryItems()">Cut</a></li>
                <li><a href="#" onclick="pasteInventoryItems()">Paste</a></li>
                <li><a href="#" onclick="deleteInventoryItems()">Delete</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" onclick="selectDependencies()">Select Dependencies</a></li>
                <li><a href="#" onclick="$('#inventory').jstree('deselect_all')">Clear Selected</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" onclick="filterSelectionByType('controller')">Filter Controllers</a></li>
                <li><a href="#" onclick="filterSelectionByType('procedure')">Filter Procedures</a></li>
                <li><a href="#" onclick="filterSelectionByType('rfc')">Filter RFCs</a></li>
                <li><a href="#" onclick="filterSelectionByType('task')">Filter Tasks</a></li>
                <li><a href="#" onclick="filterSelectionByType('host')">Filter Hosts</a></li>
                <li><a href="#" onclick="filterSelectionByType('console')">Filter Consoles</a></li>
                <li><a href="#" onclick="filterSelectionByType('status')">Filter Status Codes</a></li>
                <li><a href="#" onclick="filterSelectionByType('link')">Filter Links</a></li>
            </ul>
        </li>
        
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">View<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#menu-toggle" id="menu-toggle">Toggle Menu</a></li>
                <li><a href="#" onclick="$('#inventory').jstree('refresh')">Refresh</a></li>
            </ul>
        </li>
        
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/auth/userattr" class="active" data-toggle="modal">Set Credentials</a></li>
                <li><a href="/auth/admin" class="active" data-toggle="modal">Administration</a></li>
            </ul>
        </li>
        
        <!--
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">View<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#menu-toggle" id="menu-toggle">Toggle Menu</a></li>
            </ul>
        </li>
        -->
        
        <!--<li><a href="#credModal" class="active" data-toggle="modal">Set Credentials</a></li>-->
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text" id="connectionStatus"></p></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right" id="menuBarDynamic"></ul>
      
    </div><!--/.nav-collapse -->
  </div>
</nav>