<!doctype html>
<html>
<head>
    <title>DEV5 Index</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/style.min.css" />
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/jsgrid.min.css">
    <link rel="stylesheet" href="css/jsgrid-theme.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/jsgrid.js"></script>
    <script src="js/jstree.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/ace/src-min-noconflict/ace.js"></script>
    <script src="js/procedure.js"></script>
    <script src="js/task.js"></script>
    <script src="js/rfc.js"></script>
    <script src="js/container.js"></script>
    <script src="js/status.js"></script>
    <script src="js/jscolor.js"></script>
    <script src="js/host.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/menubar.js"></script>
    <script src="js/console.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
    <div id="jqmpage">
      {% include '_navbar.html' %}
        <div id="left-nav">
            <input type="text" id="inventorySearchTextBox" onchange="searchInventoryTree(this);"></input>
            <div id="inventory"></div>
            <div id="attributes"></div>
        </div>
        <article id="body"></article>
        <footer>
            <div ng-app="inventoryApp" ng-controller="inventoryCtrl">
                <div ng-bind-html="messages"></div>
            </div>
        </footer>
    </div>
    {% include '_modal.html' %}
    <script src="js/inventory.js"></script>    
</body>

</html>